body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 0%);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 35dvh;
  }
  .image {
    flex: 0.8;
    text-align: right;
  
  }
  .image img {
    max-width: 300px;
    height: auto;
    margin: 10px;
  }
  .links {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: 20px;
  }
  .link-box {
    color: white;
    background-color: #0a0909;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    width: 60px;
    border-radius: 15px solid white;
   
  }
  .link-box:hover {
    transform: translateY(-5px);
    color:white ;
    background-color: green;
    border-radius: 15px solid white;
  }
  .link-box a {
    color: #e6d9d9;
    text-decoration: none;
    border-radius: 15px solid white;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }